@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-1: #0a8579; /* passes WCAG AA: normal text/ui components on #fff */
  --primary-2: #6bbcb5; /* passes WCAG AAA: normal text/ui components on #222 */
  --primary-3: #cbf3f0; /* passes WCAG AAA: normal text/ui components on #222 */
  --primary-4: #e5f9f8; /* passes WCAG AAA: normal text/ui components on #222 */
  --accent-1: #ef6b61; /* passes WCAG AA: large text/ui components on #fff */
  --accent-2: #f6aca7; /* passes WCAG AAA: normal text/ui components on #222 */
  --accent-3: #fdedec; /* passes WCAG AAA: normal text/ui components on #222 */
  --neutral-dk: #222;
  --neutral-mddk: #666;
  --neutral-md: #d8d8d8;
  --neutral-lt: #f3f3f3;
  --neutral-white: #fff;
}
body {
  font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  margin-bottom: 20px;
}
/* STRUCTURE */
main { /* wraps all page-specific content */
  margin-top: 70px;
}
.main-content { /* wraps all page-specific content below hero or banner sections */
  padding: 40px 10%
}

/* BUTTONS & LINKS */
a {
  text-decoration: none;
  font-weight: 500;
  color: var(--neutral-mddk);
}
a:hover {
  color: var(--neutral-dk);
}
.btn {
  padding: 10px 20px;
  margin: 20px 0px;
  border: 1px solid var(--neutral-md);
  border-radius: 0px;
  font-size: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .07rem;
  color: var(--neutral-white);
  background: var(--primary-1);
  box-shadow: 0px 4px 10px rgba(0,0,0,.3);
}
.btn:hover {
  color: var(--neutral-dk);
  background: var(--primary-2);
  cursor: pointer;
}
/* TOPNAV */
nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--neutral-md);
  z-index: 1000;
}
.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 10px 5%;
  background: var(--primary-3);
}
.nav-logo-container {
  max-width: 200px;
  margin-right: auto;
}
.nav-button {
  font-size: 2rem;
  color: var(--neutral-mddk);
}
.nav-button:hover {
  color: var(--neutral-dk);
}
.nav-link {
  padding: 20px 0px;
}
.nav-links {
  display: none;
}
.show-links {
  display: flex;
  flex-direction: column;
  padding: 0px 5% 40px 5%;
  background: var(--neutral-white);
}
/* CATEGORIES */
.category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: var(--neutral-lt);
  color: var(--neutral-mddk);
  border-bottom: 1px solid var(--neutral-md);
  padding: 10px 0px;
}
.category-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.icon-category {
  color: var(--accent-1);
}

/* HERO */
.hero {
  background: url("../images/low-poly-grid-haikei.svg");
  background-size: cover;
  height: 50vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.hero-heading {
  font-size: 3rem;
  font-weight: 500;
}
.hero-subheading {
  font-size: 1.5rem;
}

/* CONTACT */
.icon-contact {
  font-size: 2.6rem;
  background: var(--primary-1);
  color: var(--neutral-white);
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

/* BLOG LIST */
.blog-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: var(--primary-4);
}

/* MEDIA QUERIES */
@media screen and (min-width: 700px) {
  .main-content {
    padding: 60px 15%;
  }
}
@media screen and (min-width: 900px) {
  .main-content {
    padding: 60px 20%;
  }
  /* TOPNAV */
  .nav-button {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .nav-header {
    width: fit-content;
    margin-right: auto;
    padding: 0px;
  }
  .nav-desktop {
    display: flex;
    flex-direction: row;
    background: var(--primary-3);
    padding: 0px 5%;
  }
}